@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/notoserif/v16/ga6Iaw1J5X9T9RW6j9bNfFcWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/oxygen/v10/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}

.banner {display:none !important} .col-md-3 {display:none !important} .source-link {display:none !important} h1 .anchor, h2 .anchor, h3 .anchor {display:none !important} .col-md-9 {width:auto !important} h1[id], h2[id], h3[id] { padding-top:0px !important; margin-top:40px !important} .navbar-fixed-top {position:absolute !important} .dashAnchor { position: absolute; margin-top: 0px; padding-top: 0px; } .navbar, footer {display:none !important} body:not(.index) .docs-content .docs-section:first-child h1:first-child {margin-top:0px !important} .docs-content { padding: 14px 20px !important; } .docs-container { margin-top:0px !important; width:100% !important} body {padding-top:0px !important} .index .docs-header code {white-space: pre-wrap !important; word-wrap: break-word !important} 
