@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}

#menu {display:none !important} body.inner {margin-left:30px !important; margin-right:30px !important} section#content {width:100% !important; margin:0px !important} #top {display:none !important} pre {overflow:auto !important} .content {margin-top:16px !important} pre {white-space: pre-wrap !important} header {display:none !important} div#right {margin-top:-60px !important} body.inner {margin-top: 0px !important} #right section:first-of-type h3, #content section:first-of-type h3 {margin-top:30px !important; padding-top:0px !important; background: none !important} h3 {padding-top: 0px !important; padding-bottom:0px !important; background:none !important}

.content {margin: 16px 0 !important; max-width: none !important; padding: 0px 20px}

#api-doc *:target, #page-doc *:target {margin-top:0px !important}
