<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
<key>CFBundleIdentifier</key>
<string>react</string>
<key>CFBundleName</key>
<string>React</string>
<key>DocSetPlatformFamily</key>
<string>react</string>
<key>isDashDocset</key><true/><key>DashDocSetBlocksOnlineResources</key><true/><key>DashDocSetFamily</key><string>dashtoc2</string><key>dashIndexFilePath</key><string>reactjs.org/docs/hello-world.html</string><key>isJavaScriptEnabled</key><true/><key>DashDocSetPluginKeyword</key><string>javascript</string></dict>
</plist>

