/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * scandia-line-web:
 *   - http://typekit.com/eulas/00000000000000007735db08
 *   - http://typekit.com/eulas/00000000000000007735db06
 *   - http://typekit.com/eulas/00000000000000007735db09
 * scandia-web:
 *   - http://typekit.com/eulas/00000000000000007735dd24
 *   - http://typekit.com/eulas/0000000000000000000158e4
 *   - http://typekit.com/eulas/0000000000000000000158e6
 *   - http://typekit.com/eulas/0000000000000000000158e7
 *   - http://typekit.com/eulas/0000000000000000000158e8
 * source-code-pro:
 *   - http://typekit.com/eulas/00000000000000007735dc06
 *   - http://typekit.com/eulas/00000000000000007735dc01
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-22 16:00:55 UTC"}*/

@import url("../p.typekit.net/p3814.css?s=1&amp;k=ins2wgm&amp;ht=tk&amp;f=17454.25777.24735.24740.24741.24737.24744.24746.24747.24748&amp;a=3993700&amp;app=typekit&amp;e=css");

@font-face {
font-family:"source-code-pro";
src:url("af/398a64/00000000000000007735dc06/30/le196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/398a64/00000000000000007735dc06/30/de196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/398a64/00000000000000007735dc06/30/ae196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"source-code-pro";
src:url("af/b0fedd/00000000000000007735dc01/30/lfdcc.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/b0fedd/00000000000000007735dc01/30/dfdcc.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/b0fedd/00000000000000007735dc01/30/afdcc.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"scandia-line-web";
src:url("af/9c393a/00000000000000007735db08/30/l652f.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/9c393a/00000000000000007735db08/30/d652f.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/9c393a/00000000000000007735db08/30/a652f.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"scandia-line-web";
src:url("af/47cb70/00000000000000007735db06/30/le003.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff2"),url("af/47cb70/00000000000000007735db06/30/de003.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff"),url("af/47cb70/00000000000000007735db06/30/ae003.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"scandia-line-web";
src:url("af/3cdb9c/00000000000000007735db09/30/le196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/3cdb9c/00000000000000007735db09/30/de196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/3cdb9c/00000000000000007735db09/30/ae196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"scandia-web";
src:url("af/716155/00000000000000007735dd24/30/l652f.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/716155/00000000000000007735dd24/30/d652f.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/716155/00000000000000007735dd24/30/a652f.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"scandia-web";
src:url("af/7e0390/0000000000000000000158e4/27/le003.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff2"),url("af/7e0390/0000000000000000000158e4/27/de003.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff"),url("af/7e0390/0000000000000000000158e4/27/ae003.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"scandia-web";
src:url("af/4cf72c/0000000000000000000158e6/27/laf99.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i5&amp;v=3") format("woff2"),url("af/4cf72c/0000000000000000000158e6/27/daf99.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i5&amp;v=3") format("woff"),url("af/4cf72c/0000000000000000000158e6/27/aaf99.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i5&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

@font-face {
font-family:"scandia-web";
src:url("af/e3f590/0000000000000000000158e7/27/le196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/e3f590/0000000000000000000158e7/27/de196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/e3f590/0000000000000000000158e7/27/ae196.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"scandia-web";
src:url("af/396f3b/0000000000000000000158e8/27/lfdcc.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/396f3b/0000000000000000000158e8/27/dfdcc.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/396f3b/0000000000000000000158e8/27/afdcc.html?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

.tk-source-code-pro { font-family: "source-code-pro",monospace; }
.tk-scandia-line-web { font-family: "scandia-line-web",sans-serif; }
.tk-scandia-web { font-family: "scandia-web",sans-serif; }

#left {display:none} #splitter {display:none} #right{margin-left:0px; position:static; overflow:visible;} .method-item h3, .method-item h3 code {line-height:26px !important; background-color:transparent} .method-item h3 {background-color: #f9f2f4; background-color:rgba(0,0,0,0.04);} #search{display:none} body header {display: none !important} .docs-heading {display:none !important} body {margin-top:0px !important} .docs-content {padding: 0.5em 0 2em 0 !important} #left-column {display:none !important} #right-column {margin-left:0 !important} .container{width:auto !important; max-width:820px !important} nav#primary {display:none !important} #content {padding-top:0px !important} nav#docs {padding:21px 0 !important} nav#docs ul {margin-left:15px !important} .boxed {width:auto !important} #docs-content {float: none !important; width:auto !important; padding-top: 1px !important;} #top {display:none !important} #foot {display:none !important} #copyright {display:none !important} nav.main, .sidebar {display:none !important} body {padding-top:0px !important; background:white !important} .laracon-banner {display:none !important} .docs article { padding:0px !important; margin:0px !important;} .container {width:auto !important; max-width:none !important; padding:10px 20px !important} .docs article h2 a:before {content: normal !important;} .docs article h1 {margin-top:0px !important} #slide-menu {display:none !important} .prettyprint {white-space:pre-wrap !important} blockquote {width:auto !important} #docs {display:none !important} #docs-content {float:none !important; margin-left:0px !important; padding: 0px 20px !important} .docs-body {float:none !important; margin-left:220px !important; width:auto !important; max-width:600px !important} .contain { max-width:none !important} .page_contain {max-width:none !important} .docs_body, .docs_main {max-width:none !important} .callout {max-width:none !important} .body_content {padding-left: 0 !important} .page_contain {padding:0 20px !important} .footer_contain {display:none !important} .docs_main h2 a:before, .docs_main h3 a:before {display:none !important} #content {background-color:white !important} .docs_main h2 a:before, .docs_main h3 a:before, .docs_main h4 a:before { content: '' !important; } header.flex, aside[x-init], footer {display:none !important} .max-w-screen-lg {max-width:none !important} .pl-20 {padding-left:0 !important} blockquote .w-20 {display:none !important} body {background-color:white !important}

.items-end {display:none !important}
