@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/opensans/v23/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts.gstatic.com/s/opensans/v23/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}

.sidebar, #mobile-bar, #header, #search-form, .sidebar .list, #ad, .content h3 > a:before, .content h3:before, .content h3 > a:before {display:none !important} .content {margin-left:0px !important; max-width:none !important; padding-top:15px !important} .content {padding-left:0px !important} body.docs {padding-top:0px !important} #sponsors {display:none !important} #main {padding:0 20px !important} #translations{display:none !important} #mobile-bar {position:absolute !important} .content.api {margin-top:-42px !important} .vuemastery-banner {display:none !important} #ad, #sidebar-sponsors-platinum-right {display:none !important} .content h2, .content h3 {pointer-events:initial} .content h2:before, .content h3:before, .content h3 > a:before {content:none !important} .content.api {margin-top:0 !important} .demo {display:none !important} header.navbar, .carbon-ads, .header-anchor {display:none !important;} .theme-default-content:not(.custom) {max-width:none !important; padding:0rem 4.5rem !important;}  .theme-default-content:not(.custom)>h1, .theme-default-content:not(.custom)>h2, .theme-default-content:not(.custom)>h3, .theme-default-content:not(.custom)>h4, .theme-default-content:not(.custom)>h5, .theme-default-content:not(.custom)>h6 {margin-top:0; padding-top:1.5rem} .page {padding-left: 0 !important}
